body {
  cursor: default;
}
.cursor-glow {
  position: fixed;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  pointer-events: none;
  background: radial-gradient(
    circle,
    rgb(255, 0, 255) 10%,
    rgba(0, 255, 128, 0) 45%,
    transparent 90%
  );
  transform: translate(-50%, -50%);

  transition: transform 0.05s linear;
  filter: blur(50px);
  mix-blend-mode: screen;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.cursor-glow {
  animation: pulse 2s infinite ease-in-out;
}
